SPRING_PROFILES_ACTIVE=prod
LINKVAULT_DATASOURCE_URL=jdbc:postgresql://postgres:5432/linkvault
LINKVAULT_DATASOURCE_USERNAME=linkvault
LINKVAULT_DATASOURCE_PASSWORD=linkvault
LINKVAULT_REDIS_HOST=redis
LINKVAULT_REDIS_PORT=6379
LINKVAULT_MINIO_ENDPOINT=http://minio:9000
LINKVAULT_MINIO_PUBLIC_ENDPOINT=http://localhost:9000
LINKVAULT_MINIO_ACCESS_KEY=linkvault
LINKVAULT_MINIO_SECRET_KEY=linkvault-secret
LINKVAULT_MINIO_BUCKET=linkvault
